



 
<div class="spacer">
    
  <div class="jumbotron">
    
  <pre>  <h1>Bienvenu {{nom}}  {{prenom}} </h1></pre>  
      <p class="lead"> Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.</p>
      <p><a a routerLink="/about" class="btn btn-primary btn-lg">Informations &raquo;</a></p>
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="image1">
          <h2> Mes Consultations</h2>
          <p>
              Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.
          </p>
          <p><a  a routerLink="/consultation" class="btn btn-default">Plus d'informations  &raquo;</a></p>
      </div>
    </div>
      <div class="col-md-4">
          <div class="image1">
          <h2>Mes Render-Vous</h2>
          <p>Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.</p>
          <p><a a routerLink="/rendervous" class="btn btn-default" >Plus d'informations  &raquo;</a></p>
      </div>
    </div>
      <div class="col-md-4">
          <div class="image1">
          <h2> Mes Vaccinations</h2>
          <p>Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.</p>
          <p><a  a routerLink="/vaccin" class="btn btn-default" >Plus d'informations  &raquo;</a></p>
      </div>
    </div>
  </div>
  
</div>