


 
<div class="spacer">
  <br><br>
  <hr >
<div class="jumbotron">
  
    <p class="lead">Apres avoir rendu à Dieu et prié au nom du prophète (PSL),ma Maman<b> Awa Yombe Sene</b> ainsi que toute ma tres chere famille, nous tenons à remercier ceux qui ont
      participé à l’élaboration de ce mémoire .Nous tenons encore à exprimer nos
      profondes gratitudes et nos sincères remerciements à<b> M. Ndiaga BA </b>, qui nous a fait l'honneur de
      diriger ce travail et ses précieux conseils furent d'un apport considérable et à Mll <b>Anta Niang  </b>pour son encouragement.
      Aussi que les membres de jury trouvent ici nos remerciements les plus vifs pour avoir accepté
      d'honorer par leur jugement notre travail.
      Enfin, nous ne pouvons achever ce projet sans exprimer nos gratitudes a ma famille, à tous le personnel de
      l’Institut Supérieur d’Informatique (ISI), et en particulier <b> Madame  FALL </b> pour leur dévouement
      et leur assistance tout au long de mes études.
  </p>
   
</div>
<hr >


</div>

