<div class="spacer">
    <h2 >Bienvenu dans votre espace personel.</h2>
  <div class="container">
      <div class="panel panel-primary" >
       
          <div class="panel-body">

              <div class="form-group">
                <br>
                  <input class="form-control" type="text" [(ngModel)]="login" placeholder="Login" />
         
                  <br>
                  <input class="form-control" type="password" [(ngModel)]="password"   placeholder="Mot De Passe" />
                  <br>
                  <button   class="btn btn-primary" (click)="find()"  >Se Connecter</button>
                  <button routerLink="/about" class="btn btn-primary">Anuuler</button>
              </div>

          </div>

      </div>
    
</div>
</div>