


 
<div class="spacer">
    
  <div class="jumbotron">
      <h1>BIENVENU</h1>
      <p class="lead"> Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.</p>
      <p><a routerLink="/clientlog" class="btn btn-primary btn-lg">Se Connecter &raquo;</a></p>
  </div>

  <div class="row">
     
      <div class="col-md-4">
            <div class="image1">
          <h2>Consultations</h2>
          <p>
              Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.
          </p>
          <p><a  a routerLink="/clientlog" class="btn btn-default" >Plus d'informations  &raquo;</a></p>
      </div>
    </div>
      <div class="col-md-4">
            <div class="image1">
          <h2>Render-Vous</h2>
          <p>Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.</p>
          <p><a  a routerLink="/clientlog" class="btn btn-default" >Plus d'informations &raquo;</a></p>
      </div>
    </div>
      <div class="col-md-4">
            <div class="image1">
          <h2>Vaccinations</h2>
          <p>Centre Hospitalier  de Grand-Yoff Gestion des consultation ,des rendez vous et des vaccins.</p>
          <p><a routerLink="/clientlog" class="btn btn-default" >Plus d'informations  &raquo;</a></p>
      </div>
    </div>
  </div>
  
</div>