


  <div class="barre">
      <div class="spacer">
          <ul id="menu">
              <li><a routerLink="/about"> Espace Client</a>
                <ul>
                  <li> <a routerLink="/about" >Accueil</a>  </li>
                    <li><a routerLink="/new-contact" >Creer un Compte</a></li>
                    <li><a routerLink="/clientlog" >Se Connecter</a></li>
                 
            
                </ul>
                
              </li>
              <li>
              <a >Services</a>
                <ul>
                      <li><a  routerLink="/ordonnance">Preinscriptions </a></li>
                      <li><a >Render-Vous</a></li>
                      <li><a >Hospitalisation</a></li>
                </ul>
              </li>
              <li>
              <a >Informations</a>
                <ul>
                  <li><a  routerLink="/nous">Contacter Nous</a></li>
                  <li><a routerLink="/remercier">Remerciments</a></li>
             
            
                </ul>
              </li>
                <li><a  routerLink="/medecinlog"> Espace  Administrateur</a>
                <ul>
                  <li><a routerLink="/medecinlog">Se Connecter</a></li>
                
                </ul>
              </li>
            </ul>
            
         






  
</div>
</div>
<router-outlet>

</router-outlet>
<div class="logo">
   <pre>


    
   </pre>
  </div>
